<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row slider-text align-items-center"
        data-scrollax-parent="true"
      >
        <div
          class="col-md-6 col-sm-12 ftco-animate"
          data-scrollax=" properties: { translateY: '70%' }"
        >
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          >Tu Sonrisa, Nuestra Prioridad</h1>
          <p
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          >Descubre una odontología moderna diseñada para hacer brillar tu
            sonrisa. Nuestro equipo te brinda la atención y el cuidado que
            mereces.</p>
          <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a
              href="https://www.instagram.com/weltdental/"
              target="_blank"
              class="btn btn-primary px-4 py-3"
            >Conócenos</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="slider-item" style="background-image: url('images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div
        class="row slider-text align-items-center"
        data-scrollax-parent="true"
      >
        <div
          class="col-md-6 col-sm-12 ftco-animate"
          data-scrollax=" properties: { translateY: '70%' }"
        >
          <h1
            class="mb-4"
            data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
          >Logra tu Sonrisa Perfecta</h1>
          <p class="mb-4">Descubre cómo podemos ayudarte a alcanzar la sonrisa
            que siempre has deseado. Nuestro equipo te brinda la atención
            especializada que mereces.</p>
          <p><a href="#" class="btn btn-primary px-4 py-3">Agenda tu Cita</a></p>
        </div>
      </div>
    </div>
  </div>

</section>